@import url("https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@config "../../tailwind.config.js";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
  font-family: "Barlow Semi Condensed" !important;
  background-color: #0e0e0e;
  color: #fff;
}

.case-study-long-image-div {
  --sb-track-color: #1e1e1e;
  --sb-thumb-color: #ffde5b;
  --sb-size: 24px;
}

.case-study-long-image-div::-webkit-scrollbar {
  width: var(--sb-size);
}

.case-study-long-image-div::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.case-study-long-image-div::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: 8px solid #1e1e1e;
}

@supports not selector(::-webkit-scrollbar) {
  .case-study-long-image-div {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
